@import '../../assets/styles/scss/variable.scss';

.card {
  display: block;
  width: $scss_325px;
  height: $scss_170px;
  font-size: $scss_32px;
  color: #fff;
  position: relative;

  .bgBorder {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background: url(./border.png) no-repeat top left;
    background-size: 100% 100%;
  }

  .bgColor {
    width: $scss_318px;
    height: $scss_162px;
    background-image: linear-gradient(90deg,
      #00c8d5 0%,
      #008ed5 100%),
      linear-gradient(#008ed5,
      #008ed5);
    position: absolute;
    top: $scss_10px;
    left: $scss_10px;
    z-index: 1;
    display: flex;

    .left {
      position: absolute;
      top: 50%;
      left: $scss_16px;
      margin-top: -$scss_40px;

      img {
        width: $scss_74px;
        height: $scss_77px;
      }
    }

    .right {
      padding: 0 5px 0 $scss_100px;
      margin: auto;
      position: relative;
      top: -$scss_5px;
    }

    .name {
      line-height: 1.2;
    }

    .desc {
      font-size: $scss_22px;
    }
  }
}