@import '../../assets/styles/scss/variable.scss';

.home {
  width: 100%;
  min-height: 100%;
  background: url(../../assets/images/bg.jpg) no-repeat left bottom;
  background-size: 100% 100%;
  color: #fff;
  font-size: $scss_24px;
  line-height: $scss_36px;
  padding: 0 $scss_56px;
  padding-bottom: $scss_120px;
  position: absolute;
  top: 0;
  left: 0;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: $scss_72px;
    padding-bottom: $scss_30px;

    .left {
      display: flex;
      align-items: center;

      .icon {
        width: $scss_30px;
        height: $scss_30px;
        background-image: url(../../assets/images/icon-deng@2x.png);
        background-size: 100% 100%;
      }

      span {
        font-size: $scss_56px;
        line-height: 1;
        padding-left: $scss_14px;
        font-weight: 700;
      }
    }

    .right {
      width: $scss_130px;

      img {
        width: 100%;
      }
    }
  }

  .content {
    p {
      text-indent: 2em;
      line-height: 1.8;
      font-size: $scss_26px;
    }

    img {
      padding-top: $scss_30px;
      width: 100%;
    }
  }

  button {
    width: 200px;
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    background-color: #00baff;
    border-radius: $scss_10px;
    font-size: $scss_32px;
    line-height: $scss_70px;
    outline: 0;
    padding: 0;
    border: 0;

    a {
      color: #fff;
    }
  }
}